/*
 * App
 */

.App {
	height: 100%;
	display: flex;
	flex-direction: column;
	color: #color-grey;
	font-family: $font-general;
	min-width: 600px;

	.App__mainContainer {
		flex: 1;
		display: flex;
		flex-direction: horizontal;
		padding: 20px;
	}

	.App__bar {
		padding: 10px 20px;
		background-color: #f0f0f0;
		overflow: hidden;
		font-size: 12px;
		font-family: $font-heading;
		a {
			color: #aaa;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.App__bar__identity {
		float: left;
	}
	.App__bar__nav {
		float: right;
	}

	/*
	 * ThreadList
	 */

	.ThreadList {
		border: 2px solid $color-grey;
		margin-right: 10px;
		width: 30%;
		min-width: 240px;
		max-width: 360px;
	}

	.ThreadList__header {
		position: relative;
		height: 75px;
		font-family: $font-heading;
		cursor: default;
		.ThreadList__header__center {
			position: absolute;
			top: 20px;
			left: 23%;
			right: 23%;
			padding: 7px 0 5px;
			border: 1px solid $color-bg;
			background-color: $color-grey;
			color: #fff;
			text-transform: uppercase;
			text-align: center;
			letter-spacing: 4;
		}
		.ThreadList__header__left,
		.ThreadList__header__right {
			position: absolute;
			top: 30px;
			width: 40px;
			border-style: solid;
			border-color: $color-grey;
			border-width: 13px 15px;
		}
		.ThreadList__header__left {
			border-left-color: transparent;
			left: 15%;
		}
		.ThreadList__header__right {
			border-right-color: transparent;
			right: 15%;
		}
	}

	.ThreadList__search {
		padding: 0 15px;
		input {
			border: none;
			background-color: $color-bg-lightgrey;
			width: 100%;
			padding: 8px 12px;
			margin-bottom: 10px;
			outline: none;
			font-family: $font-general;
			font-style: italic;
			font-size: 14px;
			&:focus {
				font-style: normal;
				&::-webkit-input-placeholder {
					color: transparent;
				}
			}
		}
	}

	.ThreadListItem {
		padding: 12px 15px;
		&:hover {
			background-color: $color-bg-lightgrey;
		}
		.ThreadListItem__secondRow {
			margin-top: 5px;
		}
		.ThreadListItem__currentIndicator,
		.ThreadListItem__unreadCount {
			float: right;
		}
		.ThreadListItem__currentIndicator {
			font-family: Wingdings;
			color: $color-accent;
			font-weight: bold;
		}
		.ThreadListItem__unreadCount {
			font-family: $font-heading;
			font-weight: bold;
		}
		.ThreadListItem__name {
			font-family: $font-heading;
			text-transform: uppercase;
			font-weight: bold;
			overflow: hidden;
		}
		.ThreadListItem__snippet {
			font-size: 13px;
			line-height: 15px;
			font-style: italic;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	/*
	 * Conversation
	 */

	.Conversation {
		flex: 1;
		display: flex;
		flex-direction: column;
		// background: #eee;

		// Header
		.Conversation__header {
			padding: 20px 10px 0;
			text-align: center;
			margin-bottom: 10px;
		}
		.Conversation__threadTitle {
			font-family: $font-heading;
			font-size: 22px;
			text-transform: uppercase;
		}
		.Conversation__options {
			color: #fff;
			background-color: $color-grey;
			display: inline-block;
			vertical-align: top;
			padding: 2px 4px 3px 4px;
			margin-top: 2px;
			margin-left: 8px;
			border-radius: 50%;
			font-size: 10px;
			font-weight: bold;
		}
		.Conversation__header__bottom {
			margin-top: 6px;
			padding-bottom: 20px;
			border-bottom: 1px solid $color-grey;
		}
		.Conversation__threadDescription {
			font-style: italic;
			font-size: 13px;
		}

		// Chat
		.Conversation__chat {
			flex: 1;
			overflow-y: scroll;
			padding: 10px;
		}
		.Conversation__message {
			margin-bottom: 20px;
		}
		.Conversation__message__author {
			float: left;
			text-align: right;
			margin-right: 20px;
			width: 20%;
			font-family: $font-heading;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 13px;
			padding-top: 1px;
		}
		.Conversation__message__date {
			float: right;
			text-align: right;
			margin-left: 10px;
			width: 20%;
			font-size: 12px;
			color: #bbb;
		}
		.Conversation__message__message {
			font-size: 14px;
		}

		// Composer
		.Conversation__composer {
			display: flex;
			flex-direction: row;
			padding-top: 10px;
		}
		.Conversation__composerInputContainer {
			flex: 1;
			input {
				width: 100%;
				border: none;
				background-color: $color-bg-lightgrey;
				width: 100%;
				padding: 8px 12px;
				outline: none;
				font-family: $font-general;
				font-size: 14px;
				&::-webkit-input-placeholder {
					font-style: italic;
				}
			}
		}
		.Conversation__composerControls {

		}
		.Conversation__buttonSend {
			font-size: 12px;
			font-family: $font-heading;
			text-transform: uppercase;
			background-color: $color-grey;
			color: #fff;
			padding: 11px 14px 9px;
			opacity: 0.5;
			transition: opacity 150ms ease;
		}
		.Conversation__buttonSend-enabled {
			opacity: 1;
		}
	}
}
